@import 'base/_reset';
@import 'abstracts/_font';
@import 'layout/_header';
@import 'layout/_footer';


.content{
	width:100%;
	float:left;
}
.page-base{
	position: relative;
	width:calc(100% - 20px);
	margin:auto;
	
	@media(min-width:1130px){
		width:1110px;	
	}
}
a{
	color:#291632;
	text-decoration:none;
	position:relative;
}
img{
    vertical-align: middle;
}
::placeholder {
    font-family: Montserrat-Medium;
}
.blur{
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.67);
    z-index:99;
    pointer-events: none;
    transition:0.3s;
    opacity:0;
}