.contact{
	width:100%;
	float:left;
	background-color:#edf6f9;
    margin-top: 50px;
    font-family: Montserrat-Medium;


    .contact-form{
    	margin:50px 0;
    	background-color:#fff;
    	border-radius:4px;
        float:left;
        
        @media(min-width:601px){
            height:400px;    
        }
    }
    .left-sec{
    	float:left;
    	width:calc(100% - 25px);
        padding-left:25px;

        @media(min-width:601px){
            height:100%;
            width:calc(50% - 60px);
            padding-left:60px;
        }

    	h3{
    		float:left;
    		width:100%;
    		font-size: 17px;
		    transform: scaleY(1.2);
		    padding: 30px 0 15px;

		    @media(min-width:451px){
                font-size: 20px;
                padding-top:60px;
            }
            @media(min-width:1025px){
    			font-size: 24px;
		    }
    	}
    	.subtitle{
    		float:left;
    		width:100%;
    		font-size: 7px;
		    padding-top: 5px;
		    
            @media(min-width:451px){
                font-size: 8px;
            }
		    @media(min-width:1025px){
    			font-size: 10px;
		    }
    	}
    	.mobileno{
		    float: left;
		    width:100%;
		    font-size: 12px;
		    padding-top: 40px;

            @media(min-width:451px){
                font-size: 14px;
                padding-top: 50px;
            }
		    @media(min-width:1025px){
    			font-size: 16px;
		    }
    	}
    	.email{
		    float: left;
		    width:100%;
		    font-size: 12px;
		    padding-top: 15px;

            @media(min-width:451px){
                font-size: 14px;
                padding-top: 20px;
            }
		    @media(min-width:1025px){
    			font-size: 16px;
			}
    	}
    }
    .right-sec{
    	float:left;
    	width:calc(100% - 25px);
        padding: 0 0 25px 25px;

        @media(min-width:601px){
            height:100%;
            width:50%;
            padding:0;
        }

    	.name{
    		float: left;
    		width: 50%;
    		margin-top:45px;
		    
            @media(min-width:451px){
                margin-top:60px;
            }
		    @media(min-width:1025px){
    			width: 40%;
		    }

    		span{
			    float: left;
			    width: 100%;
			    font-size: 11px;
			    margin-bottom: 6px;
                
                @media(min-width:451px){
                    font-size: 12px;
                }
    		}
    		input{
			    width: calc(100% - 40px);
			    border-radius: 0;
			    border: 1px solid #000;
			    height: 23px;
                padding-left:10px;
                
                @media(min-width:451px){
                    height: 26px;
                }
    		}
    	}
    	label{
    		float:left;
    		width:100%;
		    margin-top: 20px;
		    position:relative;
		    
            @media(min-width:451px){
                margin-top: 25px;
            }
		    @media(min-width:1025px){
    			width:80%;
		    }

    		span{
			    float: left;
			    width: 100%;
			    font-size: 11px;
			    margin-bottom: 6px;
                
                @media(min-width:451px){
                    font-size: 12px;
        		}
            }
    		div{
    			font-size: 7px;
			    position: absolute;
			    right: 24px;
			    top: 8px;
			    color: #949494;
                
                @media(min-width:451px){
                    font-size: 9px;
                }
    		}
    		input{
			    width: calc(100% - 40px);
			    border-radius: 0;
			    border: 1px solid #000;
			    height: 23px;
                padding-left:10px;
                
                @media(min-width:451px){
                    height: 26px;
                }
    		}
    	}
    	input[type="submit"]{
    		float: left;
		    padding: 6px 35px;
		    background: none;
		    border: 1px solid;
		    margin-top: 30px;
		    font-size: 18px;
            border-radius:2px;
            
            @media(min-width:451px){
                font-size: 20px;
                margin-top: 40px;
                padding: 9px 35px;
            }
    	}
    }
}